
h1 {
color: blue;
-webkit-text-stroke-width: .5px;
-webkit-text-stroke-color: white;
}

a {
  color: white;
}
p {
  color: white;
}



body {
 background-color: #b7aeae;
}

.signup{
margin-left: 77.7%;
list-style: none;
display: inline;

}

.about{
  text-align: center;
  width: 900px;
  margin-left: 15%;
}

.jumbotron {
  background-image: url('http://www.spyderonlines.com/images/gray_black_texture_surface_point_236.jpg');
  width: 97%;
}
.tagsDiv{
  width: 80%;
  margin-left: 10%;
}

.editdelete {
  margin-left: 45%;
}



.btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
  margin: 5px 5px 5px 5px;
  height: 30px;
  width: 100px;
}

.flex-container {
  padding: 0;
  list-style: none;
  display: flex;
  cursor: pointer;
  flex-flow: row wrap;
  justify-content: space-between;
}

.nav {
  list-style: none;
  display: inline;
  margin: 5px;

}



#subBtn {
  height: 40px;
  width: 125px;
  margin-left: 42.5%;

}

#signupForm {
  margin-left: 25%;
}
