{% extends 'base.html' %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Our Mission</h1>

</div>
</div>
<p>This app has been created for the independent game developer. Understanding the forces of the industry, and the need to make games in currently-popular genres, to drive their profitably, and keep them in the game.</p>
<p>We have provided a way to examine all of Steam's tags, with their attached Metacritic scores, to allow developers to see what is hot with the gamers, and give their development cycle a solid starting point.</p>

{% endblock %}
