{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>The Underserved</title>


    <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://v4-alpha.getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">

    <script src="http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-static-top">
      <a class="navbar-brand" href="/about">about</a>
      <ul class="nav nav-pills">
        <li class="nav-item">


        <li class="nav-item">
          <a class="nav-link" href="#">LogIn/signup dropdown</a>
        </li>
      </ul>
    </nav>


    <div class="jumbotron">
      <div class="container">
        <h1 >Welcome To The Underserved</h1>
        <p>tagline goes right here</p>

      </div>
    </div>

    <div class="tagsDiv">
      <ul class="flex-container" >


        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>
        <li ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">sample</button></li>




      </ul>
    </div>

    <button type="button" id="subBtn" class=" btn-success" data-toggle="button" aria-pressed="false" autocomplete="off">SUBMIT</button>



    <hr>
      <footer>

        <p>© GA-13 Blood Cobras 2018 </p>
      </footer>

    <!-- </div>  -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://v4-alpha.getbootstrap.com/assets/js/vendor/jquery.min.js"></script>
    <script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="app.js"></script>


  </body>
</html>
