{% extends 'base.html' %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>

{% block content %}
<div class="jumbotron ">
  <div class="container">
    <h1 class="display-4" >Welcome To The Underserved</h1>
    <p>tagline goes right here</p>

  </div>
</div>

<div class="tagsDiv">
  <ul class="flex-container" >

    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>
    <li ><button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">game tag</button></li>

  </ul>
</div>

<!-- submit button, will link to results page -->
<input type="button" id="subBtn" class="btn btn-primary" value="SUBMIT" onclick="location.href = '/results';">
{% endblock %}
