{% extends 'base.html' %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4" >Your Profile</h1>
  </div>
</div>

<div class="editdelete">
  <button type="button" class="btn btn-primary">Edit Profile</button>
  <button type="button" class="btn btn-primary">Delete Profile</button>
</div>


<div class="profile">
<!-- HARD CODED DATA TO BE REPLACED WITH USER UNPUT -->

<h2>Sir Glorious Name Esq. III</h2>


<!-- saved searches go here -->
<h5>Saved Searches:</h5>

<div >
<p> <h4>Search 1</h4><br/>
tags: ____, ____, ____, ____, _____
</p>
<p> <h4>Search 2</h4><br/>
tags: ____, ____, ____, ____, _____
</p>
<p> <h4>Search 3</h4><br/>
tags: ____, ____, ____, ____, _____
</p>
<p> <h4>Search 4</h4><br/>
tags: ____, ____, ____, ____, _____
</p>
</div>

{% endblock %}


<!-- for when we have data


<div class="jumbotron">
  <div class="container">
    <h1 class="display-2">{{ username }}'s Profile</h1>
  </div>
</div>

<div class="editdelete">
  <button type="button" class="btn btn-primary">Edit Profile</button>
  <button type="button" class="btn btn-primary">Delete Profile</button>
</div>

<h1>{{ username }}'s Searches:</h1>

{% for result in results %}
<a href="/{{result.id}}">
  <h3>{{ result.name }}</h3>
</a>

{% endfor %} -->
